.container {
    max-width: 1170px;
    margin: 0 auto;

    @include laptop {
        max-width: 1023px;
    }

    @include tablet {
        max-width: 767px;
    }

    @include mobile {
        max-width: 540px;
    }
}

.hero__content {
    width: 71%;
}

.section-padding {
    padding: 60px 0;
}